# Copia este archivo a .env.local y completa los valores
NEXT_PUBLIC_SUPABASE_URL=https://fpzmdezcmbyplbdngcke.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_bHgBBQYPKg3QgHkL5H24MQ_yjB0pQw4
NEXT_PUBLIC_WHATSAPP_NUMBER=595982064334
